@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
 /*Palette*/
    --primary-solid:#ff3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid:#1d84b5;
    --secondary-900:rgba(29, 132, 181, 0.9);
    --secondary-500:rgba(29, 132, 181, 0.5);
    --secondary-300:rgba(29, 132, 181, 0.3);

    --dark-solid: rgb(31, 31, 31);
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --ligth-font-solid: #FFFFFF;

    /*Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
     
    /*Font-Sizes*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

/* Estilos generales */
body {
  font-family: var( --base-font);
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background: var(--dark-bg-solid);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#logo img {
  max-width: 250px;
  height: 100px;
}

#nombre-tienda h1 {
  font-size: 24px;
  margin: 0;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Contenido principal */
main {
  padding: 20px;
}

.lupa-icon {
  width: 20px; 
  height: 20px; 
  margin-left: 10px; 
  vertical-align: middle; 
}


.busqueda input[type="text"] {
  width: 590.88px;
  height: 44.28px;
  top: 180px;
  left: 110px;
  border-radius: 6px
  
}

.listado-productos table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.listado-productos th, .listado-productos td {
  /* border: 1px solid #ccc; */
  padding: 10px;
  text-align: left;
}

.listado-productos th {
  /* background-color: #333; */
  color: #0c0c0c;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.Editar{
  background-color: transparent;
  width: 20px; 
  height: 20px; 
}
.Borrar {
  background-color: transparent;
  width: 20px; 
  height: 20px; 
}

/* Pie de página */
footer {
  background: #30343F;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer .logo img {
  max-width: 80px;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Derechos de autor */
footer p {
  margin: 10px 0;
}


/* Login y Register */

body form {
  width: 350px; 
  margin: 0 auto; 
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-gap: 10px; 
  align-items: center; 
}

body label {
  text-align: left; 
  display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"] {
  width: 100%; 
  margin-bottom: 10px; 
}

h1 {
color: #1F1F1F;
text-align: center;
font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.68px;
margin: 10px;
}

h2 {
color: #1F1F1F;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1px;
margin: 0;
}

#boton {
  background-color: #FF3333;
  color: white;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  width: 100px;
  height: 35px;
  border-radius: 3px;
  text-align: center;
}
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; 
}

#opciones {
  text-align: center; 
  padding: 10px; 
}
#opciones a {
  color: #1D84B5;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type="button"],
input[type="checkbox"],
label,
a {
  margin-bottom: 10px; 
}


