@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
 /*Palette*/
    --primary-solid:#ff3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid:#1d84b5;
    --secondary-900:rgba(29, 132, 181, 0.9);
    --secondary-500:rgba(29, 132, 181, 0.5);
    --secondary-300:rgba(29, 132, 181, 0.3);

    --dark-solid: rgb(31, 31, 31);
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --ligth-font-solid: #FFFFFF;

    /*Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
     
    /*Font-Sizes*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--light-bg-solid);
    
}
header, footer {
    background: #30343F;
    color: var(--light-bg-solid);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: var(--alternative-font);
    color: var(--ligth-font-solid);
    background-color: var(--dark-bg-solid);
    font-size:var(--font-xsmall);
}

ul,ol { 
    list-style-type: none;
    color: var(--ligth-font-solid);
    display: flex;
    justify-content: space-between;
}
h1 {
 font-family: var(--alternative-font);
 font-size: var(--font-large);
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 text-transform: uppercase;
 color: var(--dark-solid);
}
nav {
    display: flex;
    gap: 20px;
}
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
#encabezado {
    display: flex;
    width: 1220px;
    height: 51px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-family: var(--base-font);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin-left: 100px;
}
#titulo {
    display: inline-flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    border-bottom: 5px solid var(--primary-solid);
    padding-bottom: 10px;
    margin-inline-start: 100px;
}
#article1 {
    display: flex;
    width: 1220px;
    height: 195px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-family: var(--base-font);
    color: var(--dark-900);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin-inline-start: 100px;
}
/* Estilos para las imágenes miniatura */
#miniaturas {
    width: 100px;
    height: 100px;
    overflow: hidden;
}
  
  picture img {
    width: 100%;
    height: auto;
}

#encabezado {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 0;
               
}
#encabezado ul {
    display: flex;
    color: #30343F;
    font-family: var(--base-font);
    font-size: var(--font-xsmall);
}
.resumen-section {
    font-family: var(--base-font);
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 24px; 
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-inline-start: 1020px;
        
}


.resumen-section h2 {
    text-decoration: underline;
}


.resumen-section div:last-child {
    margin-top: 20px;
}
#botonpagar {
    text-align: center; 
}

#botonpagar input[type="button"] {
    background-color: var(--primary-900); 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 2px; 
    cursor: pointer; 
}
