@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');
:root {
 /*Palette*/
    --primary-solid:#ff3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid:#1d84b5;
    --secondary-900:rgba(29, 132, 181, 0.9);
    --secondary-500:rgba(29, 132, 181, 0.5);
    --secondary-300:rgba(29, 132, 181, 0.3);

    --dark-solid: rgb(31, 31, 31);
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --ligth-font-solid: #FFFFFF;

    /*Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
     
    /*Font-Sizes*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    --font-xxsmall: 1em;

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2.0rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

/*NORMALIZACION*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--base-font);
    font-size: 62.5%; /*pasar de 16px a 10px para usar em=10px*/
    color: var(--dark-solid);
}
main {
  padding: var(--spacing-68);
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
header, 
footer {
  background-color: var(--dark-bg-solid);
  color: var(--ligth-font-solid);
  font-family: var(--alternative-font);
  font-size:var(--font-xXsmall);
}
ul, ol {
  list-style-type: none;  
}
p {
  font-size: var(--font-medium);
}
img {
  width: 100%;
  background-color: transparent;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*HEADER*/
header {
  padding: var(--spacing-36);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  max-width: 300px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}
.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: background .3s ease-in-out;
  position: relative;
}
.navbar__link:hover {
  background-color: var(--primary-900);
}
.navbar__link iconify-icon {
  color: var(--ligth-font-solid);
}
.width-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}
.witdth-submenu:hover .submenu {
  display: block;
}
.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-bg-solid);
  z-index: 1;
}

.submenu__link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
  transition: background .3s ease-in-out;
}
.submenu__link:hover {
  background-color: var(--primary-900);
}

/*FOOTER*/
.footer {
  padding: var(--spacing-68);
}
.footer__copy {
  margin-top: var(--spacing-36);
  text-align: center;
}

/*INDEX*/
/*BANNER*/
.hero {
  background-image: url(../img/funkos-banner.webp);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: var(--spacing-128);
  position: relative;
}
.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px) brightness(.9);
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
  align-items: start;
  position: relative;
}
.hero__title {
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  color: var(--ligth-font-solid);
}
.hero__text {
  font-family: var(--alternative-font);
  font-size: var(--font-medium);
  color: var(--ligth-font-solid);
}
.hero__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--light-bg-solid);
  padding: var(--spacing-12) var(--spacing-68);
  border-radius: 50px;
  font-weight: 500;
  transition: all .3s ease-in-out;
}
.hero__link:hover {
  background-color: var(--primary-900);
  color: var(--ligth-font-solid);
}

/*COLLECTIONS*/
.collection {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
  padding: var(--spacing-16) 0;
}
.collection:nth-child(2) .collection__cover {
  order: -1;
}
.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}
.collection__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 500;
}
.collection__text {
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 300;
  border-bottom: 2px solid var(--primary-solid);
  padding-bottom: var(--spacing-20);
}
.collection__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--dark-bg-solid);
  color: var(--ligth-font-solid);
  padding: var(--spacing-16) var(--spacing-36);
  border-radius: 50px;
  font-weight: 500;
  transition: background .3s ease-in-out;
}
.collection__link:hover {
  background-color: var(--primary-900);
}

/*SLIDER*/
.slider {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  margin: var(--spacing-68) auto;
}
.slider__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  text-transform: uppercase;
}
.slider__items1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: var(--spacing-24);
  list-style: none; 
  padding: 0;
}

iconify-icon {
  color: var(--dark-bg-solid);
  font-size: var(--font-small);
  font-weight: 700;
}
.glide__arrow--left {
  left : 0;
}
.glide__arrow--right {
  right: 0;
}
.card-item__cover {
  display: flex;
  position: relative;
}
.card-item__tag {
  font-size: var(--font-xxsmall);
  text-transform: uppercase;
  background-color: var(--primary-solid);
  color: var(--ligth-font-solid);
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  right: 0;
}
.card-item__cover img {
  animation: fade .7s;
}
.card-item__img--back {
  display: none;
}
.card-item__cover:hover .card-item__img--back {
  display: block;
}
.card-item__cover:hover .card-item__img--front {
  display: none;
}
.card-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-16);
}
.card-item__licence {
  font-size: var(--font-xsmall);
  font-weight: 500;
  text-transform: uppercase;
}
.card-item__name{
  font-size: var(--font-medium);
  font-weight: 700;
  text-transform: uppercase;
}
.card-item__price {
  font-size: var(--font-small);

}
.card-item__promo {
  font-size: var(--font-xsmall);
  color: var(--secondary-solid);
  font-weight: 700;
}

/*CAR*/
.listado__carrito-titulo {
  display: inline-flex;  
  flex-direction: row;
  border-bottom: 5px solid var(--primary-solid);
  margin: var(--spacing-20) auto;
  color: var(--dark-solid);
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.01em;
}
.der {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-left: 900px;
  margin-top: var(--spacing-68);
  font-size: var(--font-xlarge);

}
.listado__carrito-membrete {
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-24) 0;
  padding: var(--spacing-8);
  width: 100%;
  height: auto;
  font-family: var(--base-font);
  font-size: var(--font-xxsmall);
  font-weight: 500;
  letter-spacing: 0.01em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.listado__carrito-membrete li {
  display: inline-flex;
  padding: var(--spacing-8);
  margin: 0 60px;
}
.listado__carrito-articulo {
  display: flex;
  width: 100%;
  height: 195px;
  padding: var(--spacing-12);
  margin: var(--spacing-24) 0;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  font-family: var(--base-font);
  color: var(--dark-900);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.listado__carrito-miniatura {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.listado__carrito-resume {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 570px;
  padding: var(--spacing-24); 
  font-family: var(--base-font);
  border-radius: var(--spacing-8);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.listado__carrito-resumeli{
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-8);
}
.redline {
  border-top: 5px solid var(--primary-solid);
}
/*ITEM*/
.items {
  padding: var(--spacing-16);
}
.item__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-36);
}
/*SHOP*/
.shop {
  display: grid;
  grid-template-areas:   "buscar mostrar";
  grid-template-rows:    1fr;
  grid-template-columns: 1fr 3fr;
  gap: var(--spacing-20);
}
.shop__buscar {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: var(--spacing-12);
}
.shop__buscar-label {
  display: flex;
  padding: var(--spacing-8) 0;
  font-size: var(--font-medium);
  font-weight: 700;
  text-transform: uppercase;
}
.shop__buscar-label2 {
  display: inline-flex;
  font-size: var(--font-xxsmall);
  font-weight: 500;
  text-transform: uppercase;
}
.shop__buscar-input {
  width: 100%;
  height: var(--spacing-36);
}
.shop__buscar-inputmm {   
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-8);
}
.shop__buscar-inputcheck {
  display: flex;
  flex-flow: wrap column;
  place-content: flex-start;
  margin: var(--spacing-8);
  gap: var(--spacing-8);
}
.shop__mostrar {
  margin: 0 auto;
}

/* ADMIN */
.busqueda__content{  
  display: inline-flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-12);
  padding: var(--spacing-16);
  position: relative;
}
.busqueda__boton {
  display: flex;
  height: auto;
  width: auto;  
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}
.busqueda__boton-img {
  display: flex;
  height: auto;
  width: var(--spacing-36);
  transition: all.3s ease-in-out;
}
.busqueda__boton:hover {
  background-color: var(--ligth-font-solid);
  border-color: var(--ligth-font-solid);
}
.busqueda__box {
  display: flex;
  height: auto;
  width: 350px;
  border-radius: 6px;
  padding: var(--spacing-8);
}
.listado-productos-membrete {
  display: inline-flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-8);
}
.listado-productos-titulo {
  color: var(--dark-solid);
  font-family: var(--alternative-font);
  font-size: var(--font-xlarge);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.01em;
  margin: var(--spacing-16);
  margin-right: 500px;
}
.listado-productos-sbutitulo {
  color: var(--dark-solid);
  text-align: center;
  font-family: var(--alternative-font);
  font-size: var(--font-xXsmall);
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.01em;  
}
.listado-productos-add {
  background-color: transparent;
  width: var(--spacing-20);
  height: var(--spacing-20);
  border: none;
  cursor: pointer;
}
.listado-productos-table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 100%;
  margin-top: var(--spacing-20);
}
.listado-productos-table th,
.listado-productos-table td {
  padding: var(--spacing-12);
  text-align: left;
}
.listado-productos-table th {
  color: var(--dark-solid);
}
.Editar,
.Borrar {
  background-color: transparent;
  width: var(--spacing-20);
  height: var(--spacing-20);
  border: none;
}

/*LOGIN Y REGISTER */
/* Estilos generales */
.tituloh1 {
  color: var(--dark-solid);
  text-align: center;
  font-family: var(--alternative-font);
  font-size: var(--font-xlarge);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.01em;
  margin: var(--spacing-16);
}
.tituloh2 {
  color: var(--dark-solid);
  text-align: center;
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.01em;
  margin: var(--spacing-12);
}
.tituloh3 {
  color: var(--dark-solid);
  text-align: center;
  font-family: var(--alternative-font);
  font-size: var(--font-xXsmall);
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.01em;
  margin: var(--spacing-20);
}

.button-red { /*en edsuso*/
  background-color: var(--primary-solid);
  color: var(--ligth-font-solid);
  font-size: var(--font-xsmall);
  font-family: var(--base-font);
  width: 100%;
  height: var(--spacing-36);
  text-align: center;
  border: none;
  margin: var(--spacing-24);
}

.formulario {
  display: grid;
  grid-template-columns:  1fr auto;
  grid-gap: var(--spacing-12);
  margin: auto;
  width: 50rem;
}
.formulario__label {  
  font-size: var(--font-small);
  font-weight: 500;
  line-height: normal;
}
.formulario__label-a {  
  color: var(--secondary-solid);
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-medium);
  line-height: normal;
}
.formulario__input {
  display: flex;
  position: left;
  width: 30rem;
  border: none;
  border-bottom: solid var(--primary-solid);
  background: transparent;
}
.formulario__boton{
  background-color: var(--primary-solid);
  color: var(--ligth-font-solid);
  font-size: var(--font-xsmall);
  font-family: var(--base-font);
  border: none;
  margin: var(--spacing-24);
  height: var(--spacing-36);
  width: 12vw;
  cursor: pointer; 
  transition: all .3s ease-in-out;
}
.car__boton {
  width: 500px;
  margin-left: 570px;
}

.formulario__boton:hover {
  background-color: var(--primary-500);  
  border-color: var(--primary-900);
}
.formulario__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-12);
  padding: var(--spacing-12);
  gap: var(--spacing-8);
}
.formulario__link {
  display: flex;
  justify-content: center;
  color: var(--secondary-solid);
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-medium);
  line-height: normal;
  margin: var(--spacing-16) var(--spacing-128);
}

/*CREATE Y EDIT*/
/* Estilos generales */
.create__titulo {
  color: var(--dark-solid);
  text-align: start;
  font-family: var(--alternative-font);
  font-size: var(--font-xlarge);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.01em;
}
.create__form {
  display: flex;
  flex-flow: nowrap column;
  width: 100%;
  margin-top: var(--spacing-24);
  gap: var(--spacing-24);
}
.create__form-label {
  display: inline-flex;
  font-size: var(--font-xxsmall);
  font-weight: 500;
}
.create__form-input {
  width: 20%;
  height: var(--spacing-36);
}
.create__form-inputp {
  width: 12%;
  height: var(--spacing-36);
  border: none;
  border-bottom: solid var(--primary-solid);
  box-sizing: border-box; 
  margin-right: var(--spacing-24);
}
.create__form-inputd {
  width: 80%;
  height: var(--spacing-128);
}
.create__boton {
  background-color: var(--primary-solid);
  color: var(--ligth-font-solid);
  font-size: var(--spacing-16);
  font-family: var(--base-font);
  text-align: center;
  padding: var(--spacing-8);
  border: none;
  margin: var(--spacing-20) var(--spacing-24) 0 0;
  width: 175px;
  height: var(--spacing-36);
  cursor: pointer; 
  transition: all .3s ease-in-out;
}
.create__boton:hover {
  background-color: var(--primary-500);  
  border-color: var(--primary-900);
}
.create__img-sec {
  display: inline-flex;
  width: 100%;
  height: auto;
  margin: var(--spacing-12);
  gap: var(--spacing-20);
}
.create__img {
  display: inline-flex;
  flex-flow: nowrap column;
  place-content: center;
  width: 150px;
  height: 150px;
  border: none;
}
.create__img p {
  display: inline-flex;
  font-size: var(--font-xxsmall);
  font-weight: 500;
  flex-flow: nowrap column;
  align-items: center;
  border: none;
  border-top: solid var(--primary-solid);
  margin: 0;

}


/*Animations*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}