<%- include('../partials/header') %>
<main class="main container">
        <section class="busqueda__content">
            <button class="busqueda__boton"> <img class="busqueda__boton-img" src="../../img/icons/search_icon.svg" alt="Lupa"></button>
            <input class="busqueda__box" type="text" placeholder="Buscar productos...">
        </section>
        <section class="listado-productos-membrete">
            <h1 class="listado-productos-titulo">LISTADO DE PRODUCTOS</h1>
            <label for="Add"><h3 class="listado-productos-subtitulo">AGREGAR</h3></label>
            <button class="listado-productos-add" id="Add"> <img src="../../img/icons/mdi_plus-box.png" alt="signo de suma para agregar"></button></td>
        </section>
        <section class="listado-productos-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nombre del Producto</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr>
                        <td>1</td>
                        <td>STW001001</td>
                        <td>Baby Yoda Blueball</td>
                        <td>STAR WARS</td>
                        <td> <button class="Editar"> <img class="Editar" src="../../img/icons/edit_pencil.svg" alt=""></button></td>
                        <td> <button class="Borrar"> <img class="Borrar" src="../../img/icons/delete_trash.svg" alt=""></button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>STW001002</td>
                        <td>Boba Fett Fighter</td>
                        <td>STAR WARS</td>
                        <td> <button class="Editar"> <img class="Editar" src="../../img/icons/edit_pencil.svg" alt=""></button></td>
                        <td> <button class="Borrar"> <img class="Borrar" src="../../img/icons/delete_trash.svg" alt=""></button></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>STW001003</td>
                      <td>Luke Skylwalker & Grogu</td>
                      <td>STAR WARS</td>
                      <td> <button class="Editar"> <img class="Editar" src="../../img/icons/edit_pencil.svg" alt=""></button></td>
                      <td> <button class="Borrar"> <img class="Borrar" src="../../img/icons/delete_trash.svg" alt=""></button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>STW001004</td>
                        <td>Stormtrooper Lightsaber</td>
                        <td>STAR WARS</td>
                        <td> <button class="Editar"> <img class="Editar" src="../../img/icons/edit_pencil.svg" alt=""></button></td>
                        <td> <button class="Borrar"> <img class="Borrar" src="../../img/icons/delete_trash.svg" alt=""></button></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>PKM001001</td>
                        <td>Charmander Smiley</td>
                        <td>POKEMON</td>
                        <td> <button class="Editar"> <img class="Editar" src="../../img/icons/edit_pencil.svg" alt=""></button></td>
                        <td> <button class="Borrar"> <img class="Borrar" src="../../img/icons/delete_trash.svg" alt=""></button></td>
                    </tr>
                    <!-- Agrega más filas según tus productos -->
                </tbody>
            </table>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>
