<%- include('../partials/header') %>
    <main class="main container">
        <h1 class="create__titulo">CREAR NUEVO ITEM</h1>
        <form class="create__form" action="/admin/create" method="POST" enctype="multipart/form-data">
            <div>
                <label class="create__form-label" for="category_id">Categoría:</label>
                <select class="create__form-input" name="category_id" id="category_id" required>
                    <option value="">Seleccionar</option>
                    <option value="1">Funkos</option>
                    <option value="3">Remeras</option>
                    <option value="2">Llaveros</option>
                </select>
    
                <label class="create__form-label" for="licence_id">Licencia:</label>
                <select class="create__form-input" name="licence_id" id="licence_id" required>
                    <option value="">Seleccionar</option>
                    <option value="2">Star wars</option>
                    <option value="3">Harry Potter</option>
                    <option value="1">Pokemon</option>
                </select> 
            </div>
                <div>
                    <label class="create__form-label" for="product_name">Nombre del producto:</label>
                    <input class="create__form-inputp" type="text" id="product_name" name="product_name" placeholder="Kakashi Hatake"> 
                </div>
                <div>
                    <label for="product_description"></label>
                    <input class="create__form-inputd" type="text" id="product_description" name="product_description" placeholder="Descripción del producto"> 
                </div>
                <div>
                    <label class="create__form-label" for="sku">SKU:</label>
                    <input class="create__form-inputp" type="text" id="sku" name="sku" placeholder="SSK111AB001">
        
                    <label class="create__form-label" for="price">Precio:</label>
                    <input class="create__form-inputp" type="text" id="price" name="price" placeholder="$0.000,00">
        
                    <label class="create__form-label" for="stock">Stock:</label>
                    <input class="create__form-inputp" type="text" id="stock" name="stock" placeholder="0">
                </div>
                <div>
                    <label class="create__form-label" for="discount">Descuento:</label>
                    <input class="create__form-input" type="text" id="discount" name="discount" placeholder="0%">
                        
                    <label class="create__form-label" for="dues">Cuotas:</label>
                    <select class="create__form-input" name="dues" id="dues">
                        <option value="3">3 Cuotas sin interés</option>
                        <option value="6">6 Cuotas sin interés</option>
                        <option value="12">12 Cuotas sin interés</option>
                    </select> 
                </div>
                <div>
                    <label class="create__form-label" for="images">Imágenes:</label>         
                    <input type="file" name="images" id="images" multiple/>                                                                                                  
                </div>
                <div>            
                    <input class="create__boton" type="Submit" value="Agregar Producto"/>
                    <input class="create__boton" type="Reset" value="Limpiar"/>
                </div>    
        </form>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>