<%- include('../partials/header') %>
    <main class="main container">
        <h1 class="create__titulo">CREAR NUEVO ITEM</h1class=>
        <form class="create__form">
            <div>
                <label class="create__form-label" for="categ">Categoría:</label>
                <select class="create__form-input" name="categ" id="categ">
                    <option value="Seleccionar">Seleccionar</option>
                    <option value="Funkos">Funkos</option>
                    <option value="Remeras">Remeras</option>
                    <option value="Llaveros">Llaveros</option>
                </select>
    
                <label class="create__form-label" for="license">LICENCIA:</label>
                <select class="create__form-input" name="license" id="license">
                    <option value="Seleccionar">Seleccionar</option>
                    <option value="Star">Star wars</option>
                    <option value="Harry">Harry Potter</option>
                    <option value="Pokemon">Pokemon</option>
                </select> 
            </div>
            <div>
                <label class="create__form-label" for="prod_name">Nombre del producto:</label>
                <input class="create__form-inputp" type="text" id="prod_name" name="prod_name" placeholder="Kakashi Hatake"> 
            </div>
            <div>
                <label for="prod_desc"></label>
                <input class="create__form-inputd" type="text" id="prod_desc" name="prod_desc" placeholder="Descripción del producto"> 
            </div>
            <div>
                <label class="create__form-label" for="sku">SKU:</label>
                <input class="create__form-inputp" type="text" id="sku" name="sku" placeholder="SSK111AB001">
    
                <label class="create__form-label" for="price">Precio:</label>
                <input class="create__form-inputp" type="text" id="price" name="price" placeholder="$0.000,00">
    
                <label class="create__form-label" for="stock">Stock:</label>
                <input class="create__form-inputp" type="text" id="stock" name="stock" placeholder="0">
            </div>
            <div>
                <label class="create__form-label" for="discou">Descuento:</label>
                <input class="create__form-input" type="text" id="discou" name="discou" placeholder="0%">
    
                <label class="create__form-label" for="mpayment">Cuotas:</label>
                <select class="create__form-input" name="mpayment" id="mpayment">
                    <option value="3cuotas">3 Cuotas sin interés</option>
                    <option value="6cuotas">6 Cuotas sin interés</option>
                    <option value="12cuotas">12 Cuotas sin interés</option>
                </select> 
            </div>
                <label class="create__form-label" for="pictures">Imágenes:</label>         
                                                                                                                    
            </form>
        <button class="create__boton" type="button" value="Submit" onclick="">Agregar Producto</button>
        <button class="create__boton" type="button" value="Reset" onclick="">Limpiar</button>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>