<%- include('../partials/header') %>
    <main>    
        <div> 
            <h1 class="tituloh1">INGRESAR A MI CUENTA</h1>
        </div>
        <form class="formulario">
            <label class="formulario__label" for="email">Email:</label>
            <input class="formulario__input" type="email" id="email" name="email">
                    
            <label class="formulario__label" for="pwd">Contraseña:</label>
            <input class="formulario__input" type="password" id="pwd" name="pwd">
            
            <button class="formulario__boton" type="button" value="Ingresar" onclick="">Ingresar</button>

        <div class="formulario__checkbox">   
            <input type="checkbox" id="recordarme" name="recordarme" value="Recordarme">
            <label class="formulario__label" for="recordarme">Recordarme</label>
        </div>
        </form>     
        <div class="formulario__forgot"> 
            <a class="formulario__link" href="">Olvidé mi contraseña</a>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>